@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Custom Error Page.</h1>
<h2 class="text-danger">You have landed to this Custom Error Page, as an error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    <strong>Error Code:</strong> <code>@Model.ErrorCode</code>
</p>
